.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #003495;
    width: 100%;
    border-radius: 10px;
    padding: 16px 10px;
    color: white;
    font-family: "SF Pro Rounded", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    box-sizing: border-box;
}

.button img{
    width: 30%;
}